<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><strong><%=album.name%></strong>: <%=album.artist%>, <%= album.genre%>  <i><%= album.year%></i></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>


<!-- Needs to go into it's own page? -->
<form action="/albums_search" method='post'>
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" name="search" class="form-control" id="search">
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>

<br>
<h3>Details Pages</h3>

 <% @albums.each do |album| %>
  <li><a href="/albums/<%= album.id %>"><%=album.name %></a></li>
  <% end %>
